{% extends "base.html" %}

{% block main %}
<h1>About Change the Way You Listen</h1>
<p>Music has a variety of meanings in everyone's life. We share our happiest moments with our friends listening to music. We go through the deepest thoughts with the help of our headphones. We share love and hate getting lost between sounds. And we find relief listening to music to remember old memories.</p>
<p>I started this website after losing a loved one, my 14 year-old-friend "Dost" whose name stands for "close friend" in Turkish.</p>
<p>He shared all of these emotions with me throughout years and had been there for me no matter what. We had listened to all kinds of songs together while walking and chilling near the pool. He was a great listener but not a quite talker. I bet he had a great music taste - he would tell you if he could - since he really enjoyed dancing through the grass.</p>
<p>He went to sleep on September 2020 to never wake up. That is why I decided to dedicate this website as a memorial to my old music companion.</p>
<p>May he sleep in the stars.</p>
<br>
<br>
<div class="dost">
	<img src='{{ url_for('static', filename='dost.jpg') }}'>	
</div>


{% endblock main %}

