    {% extends "base.html" %}

    {% block main %}
    <h1>Hello, {{ user }}!</h1>
    <h1>Here is a playlist for you!</h1>
    <p>The playlist given below is fully-customizable based on the audio features. It considers the artist that you had listened the most in the last month.</p>
    <br>


    <div class="playlists">
    <h2>Your Own Customized Playlist</h2>
    <h2>{{ description }}</h2>
    {% for item in track_names %}
    <p>{{item.decode('utf-8')}}</p>
    {% endfor %}
    
    <br>
    <br>

    <form action="{{ url_for('customized_playlist') }}" method="post">
    <label for="danceability">danceability:</label>
    <input type="range" name="danceability" value="{{ features['danceability'] }}">
    <label for="danceability">energy:</label>
    <input type="range" name="energy" value="{{ features['energy'] }}">
    <label for="danceability">speechiness:</label>
    <input type="range" name="speechiness" value="{{ features['speechiness'] }}">
    <label for="danceability">acousticness:</label>
    <input type="range" name="acousticness" value="{{ features['acousticness'] }}">
    <label for="danceability">instrumentalness:</label>
    <input type="range" name="instrumentalness" value="{{ features['instrumentalness'] }}">
    <label for="danceability">liveness:</label>
    <input type="range" name="liveness" value="{{ features['liveness'] }}">
    <label for="danceability">valence:</label>
    <input type="range" name="valence" value="{{ features['valence'] }}">
    <label for="danceability">tempo:</label>
    <input type="range" name="tempo" value="{{ features['tempo'] }}">
    <input type="submit" name="submit" value="Submit" class="btn btn-sm btn-primary">
	</form>

    <br>
    <br>
    <form action="{{ url_for('save_playlist') }}" method="post">
    <label for="playlist-name">Playlist Name:</label>
    <input type="text" name="playlist-name">
    <input type="text" name="tracks" value='{{ track_ids }}' class="hidden">
    <input type="submit" name="Save Playlist" value="Submit"  class="btn btn-sm btn-primary">
    </form>

    {% endblock main %}
