/* styles */
/* For reloading the CSS file on development: CMD + SHIFT + R */

* {
  box-sizing: border-box;
}

.dost img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
#content {
  padding: 5vh 5vw;
}

/*svg, h2, div, .d3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }*/

/*.container {
  position: relative;
}*/

svg {
  position: relative;
  top: -15vh;
  margin-bottom: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  position: relative;
}

.top{
  position: relative;
  top: 120vh;
}

/*.bar{
  position: relative;
  top: 0vh;
}*/

.under-bar {
  position: relative;
  top: 60vh;
}
.nav-item{
  margin-left: 5vh;

}
/*p {
  max-width: 700px;
}*/

/*li {
  margin-bottom: 5px;
}*/

input {
  padding: 0;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

/*.nicejob {
  text-decoration: line-through;
}

#results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 30vh;
}

#results li {
  text-decoration: underline;
  cursor: pointer;
}*/

@media screen and (max-width: 900px) {
  #results {
    display: inline-block;
    max-height: auto;
  }
}

@media screen and (min-width: 1280px) {
  #results {
    max-height: 15vh;
  }
}

#features-chart {
  width: 100%;
  min-height:400px;
}



